ul {
    list-style-type: none;
}

ul li {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.status-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-bar ul li {
    display: flex;
    align-items: center;
}

.status-bar ul li :first-child {
    margin-right: 16px;
}


/* desktop */
@media (min-width: 1240px) {
    .grid main aside {
        grid-row: 2 / -1;
    }   
}