/* ---------------------------------------------------- Layout Override */
.full-page.grid {
    grid-template-rows: auto min-content;
}
.full-page main.grid {
    grid-template-rows: min-content;
}

.full-page form.grid {
    align-content: center;
}

.full-page .banner, 
.full-page form.grid .form-field, 
.full-page form.grid p {
    grid-column: 1 / -1;
}
.full-page form.grid button {
    grid-column: 2 / span 2;
}
.full-page.grid main.setup-page {
    grid-row: 1 / 1;
}
.full-page.grid footer {
    grid-row: 2 / span 1;
}

.full-page .banner h1 {
    height: 64px;
}

.full-page .banner h1 img {
    height: 100%;
}

/* portrait tablet */
@media (min-width: 600px) {
    .full-page form.grid button {
        grid-column: 3 / span 4;
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    .full-page.grid .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-column-start: 1;
    }
    
    .full-page form.grid {
        grid-template-rows: min-content;
    }
    .full-page .banner, 
    .full-page form.grid .form-field {
        grid-column: 3 / span 8;
    }

    .full-page form.grid button {
        grid-column: 5 / span 4;
    }
}

/* desktop */
@media (min-width: 1240px) {
    .full-page.grid main {
        grid-column-start: 1;
    }
    .full-page.grid .grid {
        grid-template-columns: repeat(12, 1fr);

    }

    .full-page form.grid button {
        grid-column: 6 / span 2;
    }
}

.full-page.grid main.setup-page, 
.full-page form.grid, 
.full-page.grid footer {
    grid-column: 1 / -1;
}

.full-page form.grid {
    row-gap: 16px;
}

/* ---------------------------------------------------- Specific Styles */

.full-page .banner {
    text-align: center;
}

.full-page .banner h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.full-page .banner .accent {
    color: var(--quaternary);
    font-weight: bold;
}
 
.full-page form button {
    line-height: 16px;
    height: 32px;
    font-size: 16px;
    padding: 4px 8px;
    display: block;
    box-sizing: border-box;
}

.full-page form p {
    text-align: center;
    margin-top: 8px;
}

.full-page form.grid button {
    padding: 8px 16px;
    height: 40px;
    width: auto;
}

.full-page footer p {
    width: 100%;
    text-align: center;
}