table th {
    text-align: left;
}

table thead {
    border-bottom: 1px solid var(--quaternary);
}

.grid table tr.grid {
    margin: 16px 0;
    align-items: center;
}


table .grid .col-medication {
    grid-column: 1 / span 2;
}

table .grid .col-remain {
    grid-column: 3 / span 2;
}

table .grid .col-schedule {
    grid-column: 5 / span 5;
}

table .grid .col-actions {
    grid-column: 10 / -1;
}

.col-actions {
    display: flex;
    align-items: center;
}
.col-actions button:not(:last-child),
.col-actions a:not(:last-child) {
    margin-right: 8px;
}
.col-actions button,
.col-actions .btn {
    background: transparent;
    color: var(--light-text);
    justify-content: center;
    padding: 4px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}

.col-actions button:hover, .col-actions button:focus,
.col-actions .btn:hover, .col-actions .btn:focus {
    border-radius: 300px;
    background: var(--light-text);
    color: var(--quaternary);
}


.schedules .modal-content {
    max-width: 600px;
}
.schedules ul {
    list-style-type: none;
    margin: 0;
}
.schedules li {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 24px;
}

.schedules .form-field input,
.schedules .form-field select{
    color: var(--primary-dark);
}
.schedules .form-field {
    margin-right: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.schedules .form-field input:focus, .schedules .form-field input:hover,
.schedules .form-field select:focus, .schedules .form-field select:hover,
.schedules .form-field textarea:focus, .schedules .form-field textarea:hover {
    border-color: var(--primary-dark);
} 

.schedules input[type="checkbox"] {
    width: 24px;
    height: 24px;
}