/* ---------------------------------------------------- Layout Override */
body.grid {
    grid-template-rows: auto min-content;
}
main.grid {
    grid-template-rows: min-content auto;
}

.banner, form.grid label, form.grid input, form.grid select {
    grid-column: 1 / -1;
}
form.grid button {
    grid-column: 2 / span 2;
}
.grid main.setup-page {
    grid-row: 1 / 1;
}
.grid footer {
    grid-row: 2 / span 1;
}

/* portrait tablet */
@media (min-width: 600px) {
    form.grid button {
        grid-column: 3 / span 4;
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    .grid .grid {
        grid-template-columns: repeat(12, 1fr);
    }
    
    .banner, form.grid label, form.grid input, form.grid select {
        grid-column: 3 / span 8;
    }

    form.grid button {
        grid-column: 5 / span 4;
    }
}

/* desktop */
@media (min-width: 1240px) {
    .grid .grid {
        grid-template-columns: repeat(12, 1fr);
    }

    form.grid button {
        grid-column: 6 / span 2;
    }
}

.grid main.setup-page, form.grid, .grid footer {
    grid-column: 1 / -1;
}

form.grid {
    row-gap: 0;
}

/* ---------------------------------------------------- Specific Styles */

.banner {
    text-align: center;
}

.banner h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner .accent {
    color: var(--quaternary);
    font-weight: bold;
}

form label, form input, form select, form button {
    line-height: 16px;
    height: 32px;
    font-size: 16px;
    padding: 4px 8px;
    display: block;
    box-sizing: border-box;
}

form.grid label:not(:first-child), form.grid button {
    margin-top: 16px;
}

form.grid button {
    padding: 8px 16px;
    height: 40px;
}

footer p {
    width: 100%;
    text-align: center;
}