/* -------------------------------------- utilities */
.clearFix:after{
	content: "";
	display: table;
	clear:both;
}
:root {
    /* color for use with white text, or on a white background*/
    --primary-dark: #b65747;
    --secondary: #a74165;
    --tertiary: #943b9f;
    --quaternary: #693dae;
    /*color for use with dark text or on a dark background */
    --primary-light: #b67e19;


    --primary-lightened: #faeeef;
    --quaternary-lightened: #ede7f5;


    --background: var(--primary-dark);
    --light-text: white;
    --dark-text: rgb(32, 31, 30);
}



/* ------------------------------------------------------------Typography */
html {
    font-family: 'Calibri', sans-serif;
    font-size: 125%;
    line-height: 1.5em;
    font-weight: normal;
}
  
body {
    color: var(--light-text);
    margin: 0;
}
  
h1, h2, h3, h4, h5, h6, ul, ol, li, p {
    margin: 0;
    padding: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: inherit;
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Calibri Light', sans-serif;
    font-weight: 900;
}
  
h1 {
    font-size: 36px;
    line-height: 1.5;
    margin: 0;
}
  
h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
}
  
p {
    margin-bottom: 1.5em;
}
  
p:last-child {
    margin-bottom: 0;
}

nav a, nav a:visited, nav a:hover, nav a:focus {
    text-decoration: none;
}

.banner h2 {
    text-transform: uppercase;
    font-family: "Calibri Light", sans-serif;
    letter-spacing: 0.1em;
}
/**** Links *****/
a, a:visited {
    color: var(--light-text);
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
}
a:hover, a:focus {
    color: var(--quaternary-lightened);
    text-transform: uppercase;
}
/**** Buttons *****/
a.btn, button {
    color: var(--primary-lightened);
    text-transform: uppercase;
}
a.btn:hover, a.btn:focus,
button:hover, button:focus {
    color: var(--quaternary);
}

nav a:hover, nav a:focus,
h1 a:hover, h1 a:focus {
    text-transform: initial;
}

/* ------------------------------------------------------------ General */
body, html {
    height: 100%;
    background: var(--background);
}
a.btn, button {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background: var(--quaternary);
    padding: 4px 16px;
    display: block;
    width: max-content;
}

a.btn:hover, a.btn:focus,
button:hover, button:focus{
    background: var(--quaternary-lightened);
}
a.btn i:first-child, button i:first-child {
    margin-right: 4px;
}
a.btn i:last-child, button i:last-child {
    margin-left: 4px;
}
/* ------------------------------------------------------------ Header/Navigation */

header.header nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

nav h1 {
    margin-right: 16px;
    height: 64px;
    width: 64px;
    border-radius: 100px;
    background: var(--light-text);
    font-size: 0;
    flex-shrink: 0;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a span {
    opacity: 0;
}
nav a i {
    opacity: 0.7;
    line-height: 16px;
}
nav a.active i, nav a.active span,
nav a:hover i, nav a:hover span,
nav a:focus i, nav a:focus span {
    font-weight: bold;
    opacity: 1;
}

nav a.active i,
nav a:hover i,
nav a:focus i {
    font-size: 1.1em;
    line-height: 18px;
}


/* portrait tablet */
@media (min-width: 600px) {
    header.header nav {
        justify-content: flex-start;
    }

    nav a {
        margin-right: 8px;
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    header.header nav {
        height: 100%;
        width: auto;
        flex-direction: column;
    }

    nav a, nav h1 {
        margin-right: 0;
        margin-bottom: 32px;
    }
    nav a {
        height: initial;
    }
}

/* ------------------------------------------------------------ Main */

section header, aside header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

section, aside {
    border-radius: 4px;
    /* TEMPORARY */
    background: rgba(255, 255, 255, 0.25);
    min-height: 120px;
}

.btn-holder {
    display: block;
}
.btn-holder 
.btn-holder .btn i {
    padding-right: 4px;
}

/* ------------------------------------------------------------ Footer */
footer {
    margin-top: auto;
    min-height: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* ------------------------------------------------------------ Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content auto min-content;
    gap: 8px;
    margin: 0 16px;
}

.grid .grid {
    margin: 0;
}

.grid header.header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.grid main {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
}

.grid footer {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
}

section, aside, .btn-holder {
    grid-column: 1 / -1;
}

/* portrait tablet */
@media (min-width: 600px) {
    .grid{
        grid-template-columns: repeat(8, 1fr);
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto min-content;
        margin: 0 32px;
        gap: 32px;
    }

    .grid .grid {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: min-content auto;
    }

    .grid header.header {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }

    .grid main, .grid footer {
        grid-column-start: 3;
    }

    .grid main {
        grid-row-start: 1;
    }

    .grid footer {
        grid-row-start: 2;
    }

    .grid section.half {
        grid-column-end: span 5;
    }
    .grid section.half {
        grid-column-start: 1;
    }
    .grid section.half + section.half {
        grid-column-start: 6;
    }

    .grid main > :first-child {
        margin-top: 16px;
    }
}

/* desktop */
@media (min-width: 1240px) {
    .grid header.header {
        grid-column-end: span 1;
    }

    .grid .grid {
        grid-template-columns: repeat(11, 1fr);
        margin: 0;
    }

    .grid main, .grid footer {
        grid-column-start: 2;
    }

    .grid aside {
        grid-column: 9 / span 3;
        grid-row: 1 / -1;
    }    
    .grid main aside + section.half,
    .grid main aside + section.half + section.half {
        margin-top: 16px;
    }

    .grid section.half {
        grid-column-end: span 4;
    }
    .grid section.half {
        grid-column-start: 1;
    }
    .grid section.half + section.half {
        grid-column-start: 5;
    }
}