/* -------------------------------------- utilities */
.clearFix:after{
	content: "";
	display: table;
	clear:both;
}
:root {
    /* color for use with white text, or on a white background*/
    --primary-dark: #b65747;
    --secondary: #a74165;
    --tertiary: #943b9f;
    --quaternary: #693dae;
    /*color for use with dark text or on a dark background */
    --primary-light: #b67e19;

    --background: var(--primary-dark);
    --light-text: rgb(245, 237, 226);
    --dark-text: rgb(32, 31, 30);
}



/* ------------------------------------------------------------Typography */
html {
    font-family: 'Calibri', sans-serif;
    font-size: 125%;
    line-height: 1.5em;
    font-weight: normal;
}
  
body {
    color: var(--light-text);
    margin: 0;
}
  
h1, h2, h3, h4, h5, h6, ul, ol, li, p {
    margin: 0;
    padding: 0;
}
  
h1 {
    font-family: 'Calibri Light', sans-serif;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.5;
    margin: 0;
}
  
h2 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
  
p {
    margin-bottom: 1.5em;
}
  
p:last-child {
    margin-bottom: 0;
}

nav a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

.banner h2 {
    text-transform: uppercase;
    font-family: "Calibri Light", sans-serif;
    letter-spacing: 0.1em;
}
a, a:visited {
    text-decoration: none;
    color: var(--quaternary);
}
a:hover, a:focus {
    color: var(--light-text);
}
a.btn, button {
    color: var(--light-text);
    text-transform: uppercase;
}
a.btn:hover, button:hover {
    color: var(--quaternary);
}

/* ------------------------------------------------------------ General */
body, html {
    height: 100%;
    background: var(--background);
}
a.btn, button {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background: var(--quaternary);
    padding: 4px 16px;
}

a.btn:hover, button:hover {
    background: var(--light-text);
}

/* ------------------------------------------------------------ Header/Navigation */

header nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav h1 {
    margin-right: 16px;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a, nav a:visited,
nav h1, nav h1 a:visited {
    color: var(--light-text);
}
nav a:hover, nav h1 a:hover {
    color: var(--quaternary);
}

nav a span {
    opacity: 0;
}
nav a i {
    opacity: 0.8;
}
nav a.active i, nav a.active span {
    font-weight: bold;
    opacity: 1;
}


/* portrait tablet */
@media (min-width: 600px) {
    header nav {
        justify-content: flex-start;
    }

    nav a {
        margin-right: 8px;
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    header nav {
        height: 100%;
        width: auto;
        flex-direction: column;
    }

    nav a, nav h1 {
        margin-right: 0;
        margin-bottom: 32px;
        height: initial;
    }
}

/* ------------------------------------------------------------ Main */

/* ------------------------------------------------------------ Footer */
footer {
    margin-top: auto;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* ------------------------------------------------------------ Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content auto min-content;
    gap: 8px;
    margin: 0 16px;
}

.grid .grid {
    margin: 0;
}

.grid header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.grid main {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
}

.grid footer {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
}

/* portrait tablet */
@media (min-width: 600px) {
    .grid{
        grid-template-columns: repeat(8, 1fr);
    }
}

/* landscape tablet */
@media (min-width: 905px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto min-content;
        margin: 0 32px;
        gap: 32px;
    }

    .grid .grid {
        grid-template-columns: repeat(10, 1fr);
    }

    .grid header {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }

    .grid main, .grid footer {
        grid-column-start: 3;
    }

    .grid main {
        grid-row-start: 1;
    }

    .grid footer {
        grid-row-start: 2;
    }
}

/* desktop */
@media (min-width: 1240px) {
    .grid header {
        grid-column-end: span 1;
    }

    .grid .grid {
        grid-template-columns: repeat(11, 1fr);
        margin: 0;
    }

    .grid main, .grid footer {
        grid-column-start: 2;
    }
}